<div class="container">
  <section class="container">
    <h1>Past Requests</h1>
    <table class="table table-striped">
      <thead>
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Email Address</th>
            <th>Reason</th>
            <th>Submission Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" (click)="showDetail(user)" [class.selected]="user === selectedUser">
          <td> {{ user.FirstName + " " + user.LastName }}</td>
          <td> {{ user.StartDate }}</td>
          <td> {{ user.EndDate }}</td>
          <td> {{ user.EmailAddress }}</td>
          <td> {{ user.Reason }}</td>
          <td> {{ user.SubmissionStatus }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Email Address</th>
          <th>Reason</th>
          <th>Submission Status</th>
        </tr>
      </tfoot>
    </table>
  </section>

</div>
